@font-face{
    font-family: 'Integral CF';
    src: url('IntegralCF-Regular.woff') format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Integral CF Bold';
    src: url('IntegralCF-Bold.woff') format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Integral CF Heavy';
    src: url('IntegralCF-Heavy.woff') format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'MADE OUTER Sans Light';
    src: url('MADE Outer Sans Alt Light 2.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
